div.telengard-logo {
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
}
div.telengard-logo img {
    width: 100%;
}
p.telengard-welcome-to {
    margin-bottom: 3em;
}
